/* All styles for your header Components live here */

.img-container {
  padding: 0;
  text-align: center;
}
.img-thumbnail {
  width: fit-content;
  border: 0;
}

.thumbnail {
  width: 50px;
  height: auto;
}

.header-title {
  margin-bottom: 0.5rem;
}
.social-handle {
  color: gray;
}

.content {
  padding-left: 0;
}
